body {
  margin: 0;
    padding: 0;
    border: 0;
  background: #FCE2D4;
}

.stitch-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31em;
  height: 25em;
}

.stitch-block2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72em;
  height: 35em;
}

.stitch{
  display: block;
  width: 1em;
  height: 1em;
  
  box-shadow:
    8em 1em #2972b6,
    9em 1em #333333,
    29em 1em #333333,
    30em 1em #2972b6,
    
    7em 2em #945cb4,
    8em 2em #945cb4,
    9em 2em #2972b6,
    10em 2em #333333,
    28em 2em #333333,
    29em 2em #2972b6,
    30em 2em #945cb4,
    31em 2em #945cb4,
    
    7em 3em #945cb4,
    8em 3em #945cb4,
    9em 3em #2972b6,
    10em 3em #333333,
    19em 3em #333333,
    21em 3em #333333,
    22em 3em #333333,
    28em 3em #333333,
    29em 3em #2972b6,
    30em 3em #945cb4,
    31em 3em #945cb4,
    
    8em 4em #945cb4,
    9em 4em #945cb4,
    10em 4em #2972b6,
    11em 4em #333333,
    18em 4em #333333,
    19em 4em #2972b6,
    20em 4em #333333,  
    21em 4em #2972b6,
    22em 4em #333333,
    27em 4em #333333,
    28em 4em #2972b6,
    29em 4em #945cb4,
    30em 4em #945cb4,
    31em 4em #945cb4,
    
    7em 5em #945cb4,
    8em 5em #945cb4,
    9em 5em #945cb4,
    10em 5em #2972b6,
    11em 5em #333333,
    16em 5em #333333,
    17em 5em #333333,
    18em 5em #2972b6,
    19em 5em #333333,
    20em 5em #2972b6,  
    21em 5em #333333,  
    22em 5em #333333,
    27em 5em #333333,
    28em 5em #2972b6,
    29em 5em #945cb4,
    30em 5em #945cb4,
    31em 5em #945cb4,
    
    7em 6em #945cb4,
    8em 6em #945cb4,
    9em 6em #945cb4,
    10em 6em #2972b6,
    11em 6em #2972b6,
    14em 6em #333333,
    15em 6em #333333,
    16em 6em #2972b6,
    17em 6em #2972b6,
    18em 6em #2972b6,
    19em 6em #2972b6,
    20em 6em #2972b6,
    21em 6em #2972b6,
    22em 6em #2972b6,  
    23em 6em #333333,  
    24em 6em #333333,
    27em 6em #2972b6,
    28em 6em #945cb4,
    29em 6em #945cb4,
    30em 6em #945cb4,
    
    7em 7em #945cb4,
    8em 7em #945cb4,
    9em 7em #945cb4,
    10em 7em #945cb4,
    11em 7em #2972b6,
    13em 7em #333333,
    14em 7em #2972b6,
    15em 7em #2972b6,
    16em 7em #2972b6,
    17em 7em #2972b6,
    18em 7em #2972b6,
    19em 7em #2972b6,
    20em 7em #2972b6,
    21em 7em #2972b6,
    22em 7em #2972b6,
    23em 7em #2972b6,  
    24em 7em #2972b6,
    25em 7em #333333,
    27em 7em #2972b6,
    28em 7em #945cb4,
    29em 7em #945cb4,
    30em 7em #945cb4,
    31em 7em #945cb4,
    
    7em 8em #945cb4,
    8em 8em #945cb4,
    9em 8em #945cb4,
    10em 8em #945cb4,
    11em 8em #2972b6,
    12em 8em #333333,
    13em 8em #4ebcff,
    14em 8em #2972b6,
    15em 8em #2972b6,
    16em 8em #2972b6,
    17em 8em #2972b6,
    18em 8em #2972b6,
    19em 8em #2972b6,
    20em 8em #2972b6,
    21em 8em #2972b6,
    22em 8em #2972b6,
    23em 8em #2972b6,
    24em 8em #2972b6,
    25em 8em #4ebcff,
    26em 8em #333333,
    27em 8em #2972b6,
    28em 8em #945cb4,
    29em 8em #945cb4,
    30em 8em #945cb4,
    31em 8em #945cb4,
    
    8em 9em #945cb4,
    9em 9em #945cb4,
    10em 9em #945cb4,
    11em 9em #333333,
    12em 9em #4ebcff,
    13em 9em #333333,
    14em 9em #4ebcff,
    15em 9em #2972b6,
    16em 9em #2972b6,
    17em 9em #2972b6,
    18em 9em #2972b6,
    19em 9em #2972b6,
    20em 9em #2972b6,
    21em 9em #2972b6,
    22em 9em #2972b6,
    23em 9em #2972b6,
    24em 9em #4ebcff,
    25em 9em #333333,
    26em 9em #4ebcff,
    27em 9em #333333,
    28em 9em #945cb4,
    29em 9em #945cb4,
    30em 9em #945cb4,
    
    8em 10em #333333,
    9em 10em #945cb4,
    10em 10em #333333,
    11em 10em #4ebcff,
    12em 10em #333333,
    13em 10em #333333,
    14em 10em #333333,
    15em 10em #4ebcff,
    16em 10em #2972b6,
    17em 10em #2972b6,
    18em 10em #2972b6,
    19em 10em #2972b6,
    20em 10em #2972b6,
    21em 10em #2972b6,
    22em 10em #2972b6,
    23em 10em #4ebcff,
    24em 10em #333333,
    25em 10em #333333,
    26em 10em #333333,
    27em 10em #4ebcff,
    28em 10em #333333,
    29em 10em #945cb4,
    30em 10em #333333,
    
     9em 11em #945cb4,
    10em 11em #333333,
    11em 11em #4ebcff,
    12em 11em #333333,
    13em 11em #333333,
    14em 11em #fff,
    15em 11em #333333,
    16em 11em #4ebcff,
    17em 11em #2972b6,
    18em 11em #2972b6,
    19em 11em #2972b6,
    20em 11em #2972b6,
    21em 11em #2972b6,
    22em 11em #4ebcff,
    23em 11em #333333,
    24em 11em #fff,
    25em 11em #333333,
    26em 11em #333333,
    27em 11em #4ebcff,
    28em 11em #333,
    29em 11em #945cb4,
    
    9em 12em #333,
    10em 12em #333,
    11em 12em #4ebcff,
    12em 12em #333,
    13em 12em #333,
    14em 12em #333,
    15em 12em #333,
    16em 12em #4ebcff,
    17em 12em #2972b6,
    18em 12em #2972b6,
    19em 12em #2972b6,
    20em 12em #2972b6,
    21em 12em #2972b6,
    22em 12em #4ebcff,
    23em 12em #333,
    24em 12em #333,
    25em 12em #333,
    26em 12em #333,
    27em 12em #4ebcff,
    28em 12em #333,
    29em 12em #333,
    
    10em 13em #333,
    11em 13em #4ebcff,
    12em 13em #333,
    13em 13em #fff,
    14em 13em #333,
    15em 13em #333,
    16em 13em #4ebcff,
    17em 13em #2972b6,
    18em 13em #333,
    19em 13em #333,
    20em 13em #333,
    21em 13em #2972b6,
    22em 13em #4ebcff,
    23em 13em #333,
    24em 13em #333,
    25em 13em #fff,
    26em 13em #333,
    27em 13em #4ebcff,
    28em 13em #333,
    
    10em 14em #333,
    11em 14em #2972b6,
    12em 14em #4ebcff,
    13em 14em #333,
    14em 14em #333,
    15em 14em #4ebcff,
    16em 14em #2972b6,
    17em 14em #333,
    18em 14em #333,
    19em 14em #333,
    20em 14em #333,
    21em 14em #333,
    22em 14em #2972b6,
    23em 14em #4ebcff,
    24em 14em #333,
    25em 14em #333,
    26em 14em #4ebcff,
    27em 14em #2972b6,
    28em 14em #333,
    
    10em 15em #333,
    11em 15em #2972b6,
    12em 15em #2972b6,
    13em 15em #4ebcff,
    14em 15em #4ebcff,
    15em 15em #2972b6,
    16em 15em #2972b6,
    17em 15em #2972b6,
    18em 15em #333,
    19em 15em #333,
    20em 15em #333,
    21em 15em #2972b6,
    22em 15em #2972b6,
    23em 15em #2972b6,
    24em 15em #4ebcff,
    25em 15em #4ebcff,
    26em 15em #2972b6,
    27em 15em #2972b6,
    28em 15em #333,
    
    11em 16em #2972b6,
    12em 16em #2972b6,
    13em 16em #2972b6,
    14em 16em #2972b6,
    15em 16em #2972b6,
    16em 16em #2972b6,
    17em 16em #2972b6,
    18em 16em #2972b6,
    19em 16em #2972b6,
    20em 16em #2972b6,
    21em 16em #2972b6,
    22em 16em #2972b6,
    23em 16em #2972b6,
    24em 16em #2972b6,
    25em 16em #2972b6,
    26em 16em #2972b6,
    27em 16em #2972b6,
    
    12em 17em #2972b6,
    13em 17em #4ebcff,
    14em 17em #4ebcff,
    15em 17em #4ebcff,
    16em 17em #4ebcff,
    17em 17em #4ebcff,
    18em 17em #4ebcff,
    19em 17em #4ebcff,
    20em 17em #4ebcff,
    21em 17em #4ebcff,
    22em 17em #4ebcff,
    23em 17em #4ebcff,
    24em 17em #4ebcff,
    25em 17em #4ebcff,
    26em 17em #4ebcff,
    
    16em 18em #333,
    17em 18em #2972b6,
    18em 18em #4ebcff,
    19em 18em #4ebcff,
    20em 18em #4ebcff,
    21em 18em #2972b6,
    22em 18em #333,
    
    15em 19em #333,
    16em 19em #2972b6,
    17em 19em #2972b6,
    18em 19em #333,
    19em 19em #4ebcff,
    20em 19em #333,
    21em 19em #2972b6,
    22em 19em #2972b6,
    23em 19em #333,
    
    14em 20em #333,
    15em 20em #333,
    16em 20em #333,
    17em 20em #2972b6,
    18em 20em #333,
    19em 20em #4ebcff,
    20em 20em #333,
    21em 20em #2972b6,
    22em 20em #333,
    23em 20em #333,
    24em 20em #333,
    
    13em 21em #333,
    14em 21em #2972b6,
    15em 21em #2972b6,
    16em 21em #2972b6,
    17em 21em #333,
    18em 21em #333,
    19em 21em #4ebcff,
    20em 21em #333,
    21em 21em #333,
    22em 21em #2972b6,
    23em 21em #2972b6,
    24em 21em #2972b6,
    25em 21em #333,
    
    13em 22em #333,
    14em 22em #333,
    15em 22em #333,
    16em 22em #2972b6,
    17em 22em #333,
    18em 22em #4ebcff,
    19em 22em #4ebcff,
    20em 22em #4ebcff,
    21em 22em #333,
    22em 22em #2972b6,
    23em 22em #333,
    24em 22em #333,
    25em 22em #333,
    
    13em 23em #333,
    14em 23em #333,
    15em 23em #333,
    16em 23em #2972b6,
    17em 23em #333,
    18em 23em #4ebcff,
    19em 23em #4ebcff,
    20em 23em #4ebcff,
    21em 23em #333,
    22em 23em #2972b6,
    23em 23em #333,
    24em 23em #333,
    25em 23em #333,
    
    13em 24em #333,
    14em 24em #2972b6,
    15em 24em #2972b6,
    16em 24em #2972b6,
    17em 24em #333,
    18em 24em #333,
    19em 24em #333,
    20em 24em #333,
    21em 24em #333,
    22em 24em #2972b6,
    23em 24em #2972b6,
    24em 24em #2972b6,
    25em 24em #333,
    
    14em 25em #333,
    15em 25em #333,
    16em 25em #333,
    22em 25em #333,
    23em 25em #333,
    24em 25em #333

}

.stitch2{
  display: block;
  width: 1em;
  height: 1em;
  
  box-shadow:
    43em 1em #333,
    44em 1em #333,
    46em 1em #333,
    47em 1em #333,
    
    42em 2em #333,
    43em 2em #f80000,
    44em 2em #f80000,
    45em 2em #333,
    46em 2em #f80000,
    47em 2em #f80000,
    48em 2em #333,
    
    42em 3em #333,
    43em 3em #f80000,
    44em 3em #f80000,
    45em 3em #f80000,
    46em 3em #f80000,
    47em 3em #f80000,
    48em 3em #333,

    42em 4em #333,
    43em 4em #f80000,
    44em 4em #f80000,
    45em 4em #f80000,
    46em 4em #f80000,
    47em 4em #f80000,
    48em 4em #333,

    43em 5em #333,
    44em 5em #f80000,
    45em 5em #f80000,
    46em 5em #f80000,
    47em 5em #333,

    44em 6em #333,
    45em 6em #f80000,
    46em 6em #333,
    60em 6em #333,
    61em 6em #333,

    45em 7em #333,
    60em 7em #333,
    61em 7em #333,
    62em 7em #333,
    63em 7em #333,
    64em 7em #333,

    59em 8em #333,
    60em 8em #EA9999,
    61em 8em #EA9999,
    62em 8em #EA9999,
    63em 8em #EA9999,
    64em 8em #333,
    65em 8em #333,

    44em 9em #333,
    59em 9em #333,
    60em 9em #EA9999,
    61em 9em #EA9999,
    62em 9em #EA9999,
    63em 9em #EA9999,
    64em 9em #EA9999,
    65em 9em #EA9999,
    66em 9em #333,

    43em 10em #333,
    44em 10em #333,
    59em 10em #333,
    60em 10em #EA9999,
    61em 10em #EA9999,
    62em 10em #EA9999,
    63em 10em #EA9999,
    64em 10em #EA9999,
    65em 10em #EA9999,
    66em 10em #333,

    10em 11em #333,
    11em 11em #333,
    42em 11em #333,
    43em 11em #333,
    59em 11em #333,
    60em 11em #EA9999,
    61em 11em #EA9999,
    62em 11em #EA9999,
    63em 11em #EA9999,
    64em 11em #EA9999,
    65em 11em #EA9999,
    66em 11em #EA9999,
    67em 11em #333,

    9em 12em #333,
    10em 12em #333,
    11em 12em #333,
    12em 12em #333,
    41em 12em #333,
    42em 12em #333,
    59em 12em #333,
    60em 12em #EA9999,
    61em 12em #EA9999,
    62em 12em #EA9999,
    63em 12em #EA9999,
    64em 12em #EA9999,
    65em 12em #EA9999,
    66em 12em #EA9999,
    67em 12em #333,

    7em 13em #333,
    8em 13em #333,
    9em 13em #EA9999,
    10em 13em #EA9999,
    11em 13em #EA9999,
    12em 13em #333,
    13em 13em #333,
    41em 13em #333,
    59em 13em #333,
    60em 13em #EA9999,
    61em 13em #EA9999,
    62em 13em #EA9999,
    63em 13em #EA9999,
    64em 13em #EA9999,
    65em 13em #EA9999,
    66em 13em #EA9999,
    67em 13em #EA9999,
    68em 13em #333,
    69em 13em #333,

    7em 14em #333,
    8em 14em #EA9999,
    9em 14em #EA9999,
    10em 14em #EA9999,
    11em 14em #EA9999,
    12em 14em #EA9999,
    13em 14em #333,
    59em 14em #333,
    60em 14em #EA9999,
    61em 14em #EA9999,
    62em 14em #EA9999,
    63em 14em #EA9999,
    64em 14em #EA9999,
    65em 14em #EA9999,
    66em 14em #EA9999,
    67em 14em #EA9999,
    68em 14em #EA9999,
    69em 14em #333,

    5em 15em #333,
    6em 15em #333,
    7em 15em #EA9999,
    8em 15em #EA9999,
    9em 15em #EA9999,
    10em 15em #EA9999,
    11em 15em #EA9999,
    12em 15em #EA9999,
    13em 15em #333,
    59em 15em #333,
    60em 15em #EA9999,
    61em 15em #EA9999,
    62em 15em #EA9999,
    63em 15em #EA9999,
    64em 15em #EA9999,
    65em 15em #EA9999,
    66em 15em #EA9999,
    67em 15em #EA9999,
    68em 15em #EA9999,
    69em 15em #333,

    5em 16em #333,
    6em 16em #EA9999,
    7em 16em #EA9999,
    8em 16em #EA9999,
    9em 16em #EA9999,
    10em 16em #EA9999,
    11em 16em #EA9999,
    12em 16em #EA9999,
    13em 16em #333,
    59em 16em #333,
    60em 16em #EA9999,
    61em 16em #EA9999,
    62em 16em #EA9999,
    63em 16em #EA9999,
    64em 16em #EA9999,
    65em 16em #EA9999,
    66em 16em #EA9999,
    67em 16em #EA9999,
    68em 16em #EA9999,
    69em 16em #EA9999,
    70em 16em #333,

    5em  17em #333,
    6em  17em #EA9999,
    7em  17em #EA9999,
    8em  17em #EA9999,
    9em  17em #EA9999,
    10em 17em #EA9999,
    11em 17em #EA9999,
    12em 17em #EA9999,
    13em 17em #333,
    59em 17em #333,
    60em 17em #EA9999,
    61em 17em #EA9999,
    62em 17em #EA9999,
    63em 17em #EA9999,
    64em 17em #EA9999,
    65em 17em #EA9999,
    66em 17em #EA9999,
    67em 17em #EA9999,
    68em 17em #EA9999,
    69em 17em #EA9999,
    70em 17em #333,

    6em  18em #333,
    7em  18em #EA9999,
    8em  18em #EA9999,
    9em  18em #EA9999,
    10em 18em #EA9999,
    11em 18em #EA9999,
    12em 18em #EA9999,
    13em 18em #333,
    59em 18em #333,
    60em 18em #333,
    61em 18em #EA9999,
    62em 18em #EA9999,
    63em 18em #EA9999,
    64em 18em #EA9999,
    65em 18em #EA9999,
    66em 18em #EA9999,
    67em 18em #EA9999,
    68em 18em #EA9999,
    69em 18em #EA9999,
    70em 18em #333,
    71em 18em #333,

    6em  19em #333,
    7em  19em #333,
    8em  19em #EA9999,
    9em  19em #EA9999,
    10em 19em #EA9999,
    11em 19em #EA9999,
    12em 19em #EA9999,
    13em 19em #333,
    36em 19em #333,
    37em 19em #333,
    38em 19em #333,
    39em 19em #333,
    40em 19em #333,
    59em 19em #333,
    60em 19em #333,
    61em 19em #EA9999,
    62em 19em #EA9999,
    63em 19em #EA9999,
    64em 19em #EA9999,
    65em 19em #EA9999,
    66em 19em #EA9999,
    67em 19em #EA9999,
    68em 19em #EA9999,
    69em 19em #EA9999,
    70em 19em #EA9999,
    71em 19em #333,

    3em  20em #333,
    6em  20em #333,
    7em  20em #333,
    8em  20em #EA9999,
    9em  20em #EA9999,
    10em 20em #EA9999,
    11em 20em #EA9999,
    12em 20em #EA9999,
    13em 20em #333,
    31em 20em #333,
    32em 20em #333,
    33em 20em #333,
    34em 20em #333,
    35em 20em #333,
    36em 20em #2972b6,
    37em 20em #2972b6,
    38em 20em #2972b6,
    39em 20em #2972b6,
    40em 20em #2972b6,
    41em 20em #333,
    42em 20em #333,
    43em 20em #333,
    44em 20em #333,
    59em 20em #333,
    60em 20em #333,
    61em 20em #EA9999,
    62em 20em #EA9999,
    63em 20em #EA9999,
    64em 20em #EA9999,
    65em 20em #EA9999,
    66em 20em #EA9999,
    67em 20em #EA9999,
    68em 20em #EA9999,
    69em 20em #EA9999,
    70em 20em #EA9999,
    71em 20em #333,

    2em  21em #333,
    3em  21em #EA9999,
    4em  21em #333,
    5em  21em #333,
    6em  21em #333,
    7em  21em #EA9999,
    8em  21em #EA9999,
    9em  21em #EA9999,
    10em 21em #EA9999,
    11em 21em #EA9999,
    12em 21em #EA9999,
    13em 21em #333,
    29em 21em #333,
    30em 21em #333,
    31em 21em #2972b6,
    32em 21em #2972b6,
    33em 21em #2972b6,
    34em 21em #2972b6,
    35em 21em #2972b6,
    36em 21em #2972b6,
    37em 21em #2972b6,
    38em 21em #2972b6,
    39em 21em #2972b6,
    40em 21em #2972b6,
    41em 21em #2972b6,
    42em 21em #2972b6,
    43em 21em #2972b6,
    44em 21em #2972b6,
    45em 21em #333,
    46em 21em #333,
    59em 21em #333,
    60em 21em #333,
    61em 21em #333,
    62em 21em #EA9999,
    63em 21em #EA9999,
    64em 21em #EA9999,
    65em 21em #EA9999,
    66em 21em #EA9999,
    67em 21em #EA9999,
    68em 21em #EA9999,
    69em 21em #EA9999,
    70em 21em #EA9999,
    71em 21em #333,

    2em  22em #333,
    3em  22em #EA9999,
    4em  22em #EA9999,
    5em  22em #EA9999,
    6em  22em #EA9999,
    7em  22em #EA9999,
    8em  22em #EA9999,
    9em  22em #EA9999,
    10em 22em #EA9999,
    11em 22em #EA9999,
    12em 22em #EA9999,
    13em 22em #333,
    27em 22em #333,
    28em 22em #333,
    29em 22em #2972b6,
    30em 22em #2972b6,
    31em 22em #2972b6,
    32em 22em #2972b6,
    33em 22em #2972b6,
    34em 22em #2972b6,
    35em 22em #2972b6,
    36em 22em #2972b6,
    37em 22em #2972b6,
    38em 22em #2972b6,
    39em 22em #2972b6,
    40em 22em #2972b6,
    41em 22em #2972b6,
    42em 22em #2972b6,
    43em 22em #2972b6,
    44em 22em #2972b6,
    45em 22em #4ebcff,
    46em 22em #4ebcff,
    47em 22em #333,
    48em 22em #333,
    49em 22em #333,
    59em 22em #333,
    60em 22em #2972b6,
    61em 22em #333,
    62em 22em #EA9999,
    63em 22em #EA9999,
    64em 22em #EA9999,
    65em 22em #EA9999,
    66em 22em #EA9999,
    67em 22em #EA9999,
    68em 22em #EA9999,
    69em 22em #EA9999,
    70em 22em #EA9999,
    71em 22em #333,

    2em  23em #333,
    3em  23em #EA9999,
    4em  23em #EA9999,
    5em  23em #EA9999,
    6em  23em #EA9999,
    7em  23em #EA9999,
    8em  23em #EA9999,
    9em  23em #EA9999,
    10em 23em #EA9999,
    11em 23em #EA9999,
    12em 23em #EA9999,
    13em 23em #333,
    26em 23em #333,
    27em 23em #2972b6,
    28em 23em #2972b6,
    29em 23em #2972b6,
    30em 23em #2972b6,
    31em 23em #2972b6,
    32em 23em #2972b6,
    33em 23em #2972b6,
    34em 23em #2972b6,
    35em 23em #2972b6,
    36em 23em #2972b6,
    37em 23em #2972b6,
    38em 23em #2972b6,
    39em 23em #2972b6,
    40em 23em #2972b6,
    41em 23em #2972b6,
    42em 23em #2972b6,
    43em 23em #2972b6,
    44em 23em #2972b6,
    45em 23em #4ebcff,
    46em 23em #4ebcff,
    47em 23em #4ebcff,
    48em 23em #4ebcff,
    49em 23em #333,
    59em 23em #333,
    60em 23em #2972b6,
    61em 23em #333,
    62em 23em #EA9999,
    63em 23em #EA9999,
    64em 23em #EA9999,
    65em 23em #EA9999,
    66em 23em #EA9999,
    67em 23em #EA9999,
    68em 23em #EA9999,
    69em 23em #EA9999,
    70em 23em #EA9999,
    71em 23em #333,

    1em  24em #333,
    2em  24em #EA9999,
    3em  24em #EA9999,
    4em  24em #EA9999,
    5em  24em #EA9999,
    6em  24em #EA9999,
    7em  24em #EA9999,
    8em  24em #EA9999,
    9em  24em #EA9999,
    10em 24em #EA9999,
    11em 24em #EA9999,
    12em 24em #EA9999,
    13em 24em #333,
    24em 24em #333,
    25em 24em #333,
    26em 24em #4ebcff,
    27em 24em #4ebcff,
    28em 24em #2972b6,
    29em 24em #2972b6,
    30em 24em #2972b6,
    31em 24em #2972b6,
    32em 24em #2972b6,
    33em 24em #2972b6,
    34em 24em #2972b6,
    35em 24em #333,
    36em 24em #333,
    37em 24em #333,
    38em 24em #2972b6,
    39em 24em #333,
    40em 24em #2972b6,
    41em 24em #2972b6,
    42em 24em #2972b6,
    43em 24em #2972b6,
    44em 24em #4ebcff,
    45em 24em #4ebcff,
    46em 24em #4ebcff,
    47em 24em #4ebcff,
    48em 24em #4ebcff,
    49em 24em #4ebcff,
    50em 24em #333,
    58em 24em #333,                                    
    59em 24em #2972b6,                                    
    60em 24em #2972b6,
    61em 24em #333,
    62em 24em #EA9999,
    63em 24em #EA9999,
    64em 24em #EA9999,
    65em 24em #EA9999,
    66em 24em #EA9999,
    67em 24em #EA9999,
    68em 24em #EA9999,
    69em 24em #EA9999,
    70em 24em #EA9999,
    71em 24em #333,


    1em  25em #333,
    2em  25em #EA9999,
    3em  25em #EA9999,
    4em  25em #EA9999,
    5em  25em #EA9999,
    6em  25em #EA9999,
    7em  25em #EA9999,
    8em  25em #EA9999,
    9em  25em #EA9999,
    10em 25em #EA9999,
    11em 25em #EA9999,
    12em 25em #333,
    13em 25em #2972b6,
    14em 25em #333,

    23em 25em #333,
    24em 25em #4ebcff,
    25em 25em #4ebcff,
    26em 25em #4ebcff,
    27em 25em #4ebcff,
    28em 25em #2972b6,
    29em 25em #2972b6,
    30em 25em #2972b6,
    31em 25em #2972b6,
    32em 25em #2972b6,
    33em 25em #333,
    34em 25em #333,
    35em 25em #2972b6,
    36em 25em #2972b6,
    37em 25em #2972b6,
    38em 25em #2972b6,
    39em 25em #2972b6,
    40em 25em #333,
    41em 25em #2972b6,
    42em 25em #2972b6,
    43em 25em #2972b6,
    44em 25em #4ebcff,
    45em 25em #4ebcff,
    46em 25em #4ebcff,
    47em 25em #4ebcff,
    48em 25em #4ebcff,
    49em 25em #4ebcff,
    50em 25em #4ebcff,
    51em 25em #333,

    58em 25em #333,                                    
    59em 25em #2972b6,                                    
    60em 25em #2972b6,
    61em 25em #333,
    62em 25em #EA9999,
    63em 25em #EA9999,
    64em 25em #EA9999,
    65em 25em #EA9999,
    66em 25em #EA9999,
    67em 25em #EA9999,
    68em 25em #EA9999,
    69em 25em #EA9999,
    70em 25em #EA9999,
    71em 25em #333,


    1em  26em #333,
    2em  26em #EA9999,
    3em  26em #EA9999,
    4em  26em #EA9999,
    5em  26em #EA9999,
    6em  26em #EA9999,
    7em  26em #EA9999,
    8em  26em #EA9999,
    9em  26em #EA9999,
    10em 26em #EA9999,
    11em 26em #EA9999,
    12em 26em #333,
    13em 26em #2972b6,
    14em 26em #333,

    23em 26em #333,
    24em 26em #4ebcff,
    25em 26em #4ebcff,
    26em 26em #4ebcff,
    27em 26em #4ebcff,
    28em 26em #4ebcff,
    29em 26em #2972b6,
    30em 26em #2972b6,
    31em 26em #2972b6,
    32em 26em #2972b6,
    33em 26em #2972b6,
    34em 26em #2972b6,
    35em 26em #2972b6,
    36em 26em #333,
    37em 26em #333,
    38em 26em #333,
    39em 26em #2972b6,
    40em 26em #333,
    41em 26em #2972b6,
    42em 26em #333,
    43em 26em #2972b6,
    44em 26em #4ebcff,
    45em 26em #4ebcff,
    46em 26em #4ebcff,
    47em 26em #4ebcff,
    48em 26em #4ebcff,
    49em 26em #4ebcff,
    50em 26em #4ebcff,
    51em 26em #4ebcff,
    52em 26em #333,
    53em 26em #333,

    58em 26em #333,                                    
    59em 26em #2972b6,                                    
    60em 26em #2972b6,
    61em 26em #333,
    62em 26em #EA9999,
    63em 26em #EA9999,
    64em 26em #EA9999,
    65em 26em #EA9999,
    66em 26em #EA9999,
    67em 26em #EA9999,
    68em 26em #EA9999,
    69em 26em #EA9999,
    70em 26em #333,
    71em 26em #333,

    
    1em  27em #333,
    2em  27em #EA9999,
    3em  27em #EA9999,
    4em  27em #EA9999,
    5em  27em #EA9999,
    6em  27em #EA9999,
    7em  27em #EA9999,
    8em  27em #EA9999,
    9em  27em #EA9999,
    10em 27em #EA9999,
    11em 27em #EA9999,
    12em 27em #333,
    13em 27em #2972b6,
    14em 27em #2972b6,
    15em 27em #333,

    
    21em 27em #333,
    22em 27em #333,
    23em 27em #4ebcff,
    24em 27em #4ebcff,
    25em 27em #4ebcff,
    26em 27em #4ebcff,
    27em 27em #4ebcff,
    28em 27em #4ebcff,
    29em 27em #2972b6,
    30em 27em #2972b6,
    31em 27em #2972b6,
    32em 27em #2972b6,
    33em 27em #333,
    34em 27em #333,
    35em 27em #2972b6,
    36em 27em #2972b6,
    37em 27em #2972b6,
    38em 27em #2972b6,
    39em 27em #333,
    40em 27em #333,
    41em 27em #333,
    42em 27em #2972b6,
    43em 27em #2972b6,
    44em 27em #4ebcff,
    45em 27em #4ebcff,
    46em 27em #4ebcff,
    47em 27em #333,
    48em 27em #333,
    49em 27em #333,
    50em 27em #333,
    51em 27em #4ebcff,
    52em 27em #4ebcff,
    53em 27em #333,

    58em 27em #333,                                    
    59em 27em #2972b6,                                    
    60em 27em #2972b6,
    61em 27em #333,
    62em 27em #EA9999,
    63em 27em #EA9999,
    64em 27em #EA9999,
    65em 27em #EA9999,
    66em 27em #EA9999,
    67em 27em #EA9999,
    68em 27em #EA9999,
    69em 27em #EA9999,
    70em 27em #333,


    2em  28em #333,
    3em  28em #EA9999,
    4em  28em #EA9999,
    5em  28em #EA9999,
    6em  28em #EA9999,
    7em  28em #EA9999,
    8em  28em #EA9999,
    9em  28em #EA9999,
    10em 28em #EA9999,
    11em 28em #EA9999,
    12em 28em #333,
    13em 28em #333,
    14em 28em #2972b6,
    15em 28em #333,

    21em 28em #333,
    22em 28em #4ebcff,
    23em 28em #4ebcff,
    24em 28em #4ebcff,
    25em 28em #4ebcff,
    26em 28em #333,
    27em 28em #333,
    28em 28em #4ebcff,
    29em 28em #4ebcff,
    30em 28em #2972b6,
    31em 28em #2972b6,
    32em 28em #2972b6,
    33em 28em #333,
    34em 28em #2972b6,
    35em 28em #2972b6,
    36em 28em #2972b6,
    37em 28em #2972b6,
    38em 28em #2972b6,
    39em 28em #2972b6,
    40em 28em #2972b6,
    41em 28em #2972b6,
    42em 28em #333,
    43em 28em #2972b6,
    44em 28em #4ebcff,
    45em 28em #4ebcff,
    46em 28em #333,
    47em 28em #333,
    48em 28em #fff,
    49em 28em #333,
    50em 28em #333,
    51em 28em #333,
    52em 28em #4ebcff,
    53em 28em #333,

    57em 28em #333,                                    
    58em 28em #333,                                    
    59em 28em #2972b6,                                    
    60em 28em #2972b6,
    61em 28em #333,
    62em 28em #EA9999,
    63em 28em #EA9999,
    64em 28em #EA9999,
    65em 28em #EA9999,
    66em 28em #EA9999,
    67em 28em #EA9999,
    68em 28em #333,
    69em 28em #333,
    70em 28em #333,
    

    2em  29em #333,
    3em  29em #EA9999,
    4em  29em #EA9999,
    5em  29em #EA9999,
    6em  29em #EA9999,
    7em  29em #EA9999,
    8em  29em #EA9999,
    9em  29em #EA9999,
    10em 29em #EA9999,
    11em 29em #EA9999,
    12em 29em #333,
    13em 29em #333,
    14em 29em #2972b6,
    15em 29em #333,

    21em 29em #333,
    22em 29em #4ebcff,
    23em 29em #4ebcff,
    24em 29em #333,
    25em 29em #333,
    26em 29em #333,
    27em 29em #333,
    28em 29em #333,
    29em 29em #4ebcff,
    30em 29em #4ebcff,
    31em 29em #2972b6,
    32em 29em #333,
    33em 29em #2972b6,
    34em 29em #2972b6,
    35em 29em #2972b6,
    36em 29em #2972b6,
    37em 29em #2972b6,
    38em 29em #2972b6,
    39em 29em #2972b6,
    40em 29em #2972b6,
    41em 29em #2972b6,
    42em 29em #2972b6,
    43em 29em #333,
    44em 29em #4ebcff,
    45em 29em #4ebcff,
    46em 29em #333,
    47em 29em #333,
    48em 29em #333,
    49em 29em #333,
    50em 29em #333,
    51em 29em #333,
    52em 29em #4ebcff,
    53em 29em #333,
    54em 29em #333,

    57em 29em #333,                                    
    58em 29em #2972b6,                                    
    59em 29em #2972b6,                                    
    60em 29em #2972b6,
    61em 29em #333,
    62em 29em #EA9999,
    63em 29em #EA9999,
    64em 29em #EA9999,
    65em 29em #333,
    66em 29em #333,
    67em 29em #333,


    2em  30em #333,
    3em  30em #EA9999,
    4em  30em #EA9999,
    5em  30em #EA9999,
    6em  30em #EA9999,
    7em  30em #EA9999,
    8em  30em #EA9999,
    9em  30em #EA9999,
    10em 30em #EA9999,
    11em 30em #EA9999,
    12em 30em #333,
    13em 30em #333,
    14em 30em #2972b6,
    15em 30em #2972b6,
    16em 30em #333,

    20em 30em #333,
    21em 30em #4ebcff,
    22em 30em #4ebcff,
    23em 30em #4ebcff,
    24em 30em #333,
    25em 30em #333,
    26em 30em #333,
    27em 30em #fff,
    28em 30em #333,
    29em 30em #333,
    30em 30em #4ebcff,
    31em 30em #4ebcff,
    32em 30em #333,
    33em 30em #2972b6,
    34em 30em #2972b6,
    35em 30em #2972b6,
    36em 30em #2972b6,
    37em 30em #2972b6,
    38em 30em #2972b6,
    39em 30em #2972b6,
    40em 30em #2972b6,
    41em 30em #2972b6,
    42em 30em #2972b6,
    43em 30em #333,
    44em 30em #4ebcff,
    45em 30em #4ebcff,
    46em 30em #333,
    47em 30em #333,
    48em 30em #333,
    49em 30em #333,
    50em 30em #333,
    51em 30em #333,
    52em 30em #333,
    53em 30em #4ebcff,
    54em 30em #4ebcff,
    55em 30em #333,

    57em 30em #333,                                    
    58em 30em #2972b6,                                    
    59em 30em #2972b6,                                    
    60em 30em #2972b6,
    61em 30em #333,
    62em 30em #EA9999,
    63em 30em #EA9999,
    64em 30em #EA9999,
    65em 30em #333,
    66em 30em #333,
    

    3em  30em #333,
    4em  30em #EA9999,
    5em  30em #EA9999,
    6em  30em #EA9999,
    7em  30em #EA9999,
    8em  30em #EA9999,
    9em  30em #EA9999,
    10em 30em #EA9999,
    11em 30em #EA9999,
    12em 30em #EA9999,
    13em 30em #333,
    14em 30em #2972b6,
    15em 30em #2972b6,
    16em 30em #333,

    20em 30em #333,
    21em 30em #4ebcff,
    22em 30em #4ebcff,
    23em 30em #4ebcff,
    24em 30em #333,
    25em 30em #333,
    26em 30em #333,
    27em 30em #333,
    28em 30em #333,
    29em 30em #333,
    30em 30em #333,
    31em 30em #4ebcff,
    32em 30em #333,
    33em 30em #2972b6,
    34em 30em #2972b6,
    35em 30em #2972b6,
    36em 30em #2972b6,
    37em 30em #2972b6,
    38em 30em #2972b6,
    39em 30em #2972b6,
    40em 30em #2972b6,
    41em 30em #2972b6,
    42em 30em #2972b6,
    43em 30em #333,
    44em 30em #4ebcff,
    45em 30em #4ebcff,
    46em 30em #333,
    47em 30em #333,
    48em 30em #333,
    49em 30em #333,
    50em 30em #333,
    51em 30em #333,
    52em 30em #333,
    53em 30em #4ebcff,
    54em 30em #4ebcff,
    55em 30em #4ebcff,
    56em 30em #333,
    57em 30em #2972b6,                                    
    58em 30em #2972b6,                                    
    59em 30em #2972b6,                                    
    60em 30em #2972b6,
    61em 30em #333,
    62em 30em #EA9999,
    63em 30em #EA9999,
    64em 30em #EA9999,
    65em 30em #EA9999,
    66em 30em #333,


    3em  31em #333,
    4em  31em #EA9999,
    5em  31em #EA9999,
    6em  31em #EA9999,
    7em  31em #EA9999,
    8em  31em #EA9999,
    9em  31em #EA9999,
    10em 31em #EA9999,
    11em 31em #EA9999,
    12em 31em #EA9999,
    13em 31em #333,
    14em 31em #2972b6,
    15em 31em #2972b6,
    16em 31em #333,


    19em 31em #333,
    20em 31em #4ebcff,
    21em 31em #4ebcff,
    22em 31em #4ebcff,
    23em 31em #4ebcff,
    24em 31em #333,
    25em 31em #333,
    26em 31em #333,
    27em 31em #333,
    28em 31em #333,
    29em 31em #333,
    30em 31em #333,
    31em 31em #4ebcff,
    32em 31em #4ebcff,
    33em 31em #333,
    34em 31em #2972b6,
    35em 31em #2972b6,
    36em 31em #2972b6,
    37em 31em #2972b6,
    38em 31em #2972b6,
    39em 31em #2972b6,
    40em 31em #2972b6,
    41em 31em #2972b6,
    42em 31em #333,
    43em 31em #4ebcff,
    44em 31em #4ebcff,
    45em 31em #4ebcff,
    46em 31em #333,
    47em 31em #333,
    48em 31em #333,
    49em 31em #333,
    50em 31em #333,
    51em 31em #333,
    52em 31em #333,
    53em 31em #4ebcff,
    54em 31em #4ebcff,
    55em 31em #4ebcff,
    56em 31em #333,
    57em 31em #2972b6,                                    
    58em 31em #2972b6,                                    
    59em 31em #2972b6,                                    
    60em 31em #2972b6,
    61em 31em #333,
    62em 31em #EA9999,
    63em 31em #EA9999,
    64em 31em #EA9999,
    65em 31em #EA9999,
    66em 31em #EA9999,
    67em 31em #333,
    
    3em  32em #333,
    4em  32em #333,
    5em  32em #EA9999,
    6em  32em #EA9999,
    7em  32em #EA9999,
    8em  32em #EA9999,
    9em  32em #EA9999,
    10em 32em #EA9999,
    11em 32em #EA9999,
    12em 32em #EA9999,
    13em 32em #333,
    14em 32em #2972b6,
    15em 32em #2972b6,
    16em 32em #333,
    17em 32em #333,

    19em 32em #333,
    20em 32em #4ebcff,
    21em 32em #4ebcff,
    22em 32em #4ebcff,
    23em 32em #4ebcff,
    24em 32em #333,
    25em 32em #333,
    26em 32em #333,
    27em 32em #333,
    28em 32em #333,
    29em 32em #333,
    30em 32em #333,
    31em 32em #4ebcff,
    32em 32em #4ebcff,
    33em 32em #333,
    34em 32em #333,
    35em 32em #333,
    36em 32em #2972b6,
    37em 32em #2972b6,
    38em 32em #2972b6,
    39em 32em #2972b6,
    40em 32em #333,
    41em 32em #333,
    42em 32em #333,
    43em 32em #4ebcff,
    44em 32em #4ebcff,
    45em 32em #4ebcff,
    46em 32em #333,
    47em 32em #333,
    48em 32em #333,
    49em 32em #333,
    50em 32em #333,
    51em 32em #333,
    52em 32em #333,
    53em 32em #4ebcff,
    54em 32em #4ebcff,
    55em 32em #4ebcff,
    56em 32em #333,
    57em 32em #2972b6,                                    
    58em 32em #2972b6,                                    
    59em 32em #2972b6,                                    
    60em 32em #333,
    61em 32em #EA9999,
    62em 32em #EA9999,
    63em 32em #EA9999,
    64em 32em #EA9999,
    65em 32em #EA9999,
    66em 32em #333,
    67em 32em #333,


    5em  33em #333,
    6em  33em #EA9999,
    7em  33em #EA9999,
    8em  33em #EA9999,
    9em  33em #EA9999,
    10em 33em #EA9999,
    11em 33em #EA9999,
    12em 33em #EA9999,
    13em 33em #333,
    14em 33em #2972b6,
    15em 33em #2972b6,
    16em 33em #2972b6,
    17em 33em #333,

    19em 33em #333,
    20em 33em #4ebcff,
    21em 33em #4ebcff,
    22em 33em #4ebcff,
    23em 33em #4ebcff,
    24em 33em #333,
    25em 33em #333,
    26em 33em #333,
    27em 33em #333,
    28em 33em #333,
    29em 33em #333,
    30em 33em #333,
    31em 33em #4ebcff,
    32em 33em #4ebcff,
    33em 33em #333,
    34em 33em #333,
    35em 33em #333,
    36em 33em #333,
    37em 33em #2972b6,
    38em 33em #2972b6,
    39em 33em #333,
    40em 33em #333,
    41em 33em #333,
    42em 33em #333,
    43em 33em #4ebcff,
    44em 33em #4ebcff,
    45em 33em #4ebcff,
    46em 33em #4ebcff,
    47em 33em #333,
    48em 33em #333,
    49em 33em #333,
    50em 33em #333,
    51em 33em #4ebcff,
    52em 33em #4ebcff,
    53em 33em #4ebcff,
    54em 33em #4ebcff,
    55em 33em #2972b6,
    56em 33em #333,
    57em 33em #2972b6,                                    
    58em 33em #2972b6,                                    
    59em 33em #2972b6,                                    
    60em 33em #333,
    61em 33em #EA9999,
    62em 33em #EA9999,
    63em 33em #EA9999,
    64em 33em #EA9999,
    65em 33em #EA9999,
    66em 33em #333
}
